$mediumPadding: 40px;
$commonLeftRightPadding: $mediumPadding;
$darkerFontColor: #000;
$lessDarkerFontColor: #6d6d6d;
$smFontSize: .85em;
$lowLightFont: .88;

.resume-header {
    display: flex;
    background-color: #374458;
    padding: $commonLeftRightPadding;
    align-items: center;

    .header-content {
        flex: 1;
    }

    .candidate-name {
        font-size: 3em;
        color: #fff;
        font-weight: 500;
        margin: 0;
    }

    .subtitle {
        color: #2dbc9b;
        font-weight: 500;
        margin: 0;
        margin-top: 10px;
    }

    .candidate-intro {
        margin-top: 20px;
        color: #fff;
    }

    .candidate-img-container {
        margin-left: 30px;

        .candidate-img {
            border-radius: 100%;
            border: 7px solid #2dbc9b;
            object-fit: cover;
            width: 170px;
            height: 170px;
        }
    }
}

.candidate-contact {
    background-color: #2b343f;
    padding: 15px $commonLeftRightPadding;
    color: #fff;
    font-size: 0.9em;

    .row {
        display: flex;
        align-items: center;

        &>div {
            margin: 5px 0;
        }

        .contact-item-group {
            flex: 1;

            .icon {
                min-width: 18px;
                margin-right: 10px;
                font-size: 1.2em;
            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .row:first-child {
        margin-top: 0;
    }

    .row:last-child {
        margin-bottom: 5px;
    }
}

.profile-content {
    display: flex;
    flex-wrap: wrap;
    padding: 15px $commonLeftRightPadding;

    .experience {
        flex: 2;
        padding-left: 20px;

        .experience-item-group {
            padding: 30px 0;

            .company-section {
                display: flex;
                margin-bottom: 20px;
            }

            .company-details {
                padding-left: 7px;

                .company-name {
                    color: $darkerFontColor;
                    font-weight: bold;
                    margin-bottom: 2px;
                    font-size: 1.15em;
                }
            }

            .length-of-service,
            .location,
            .service-period {
                color: $lessDarkerFontColor;
                opacity: $lowLightFont;
                font-size: $smFontSize;
            }

            .job-title {
                color: $darkerFontColor;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .task-item {
                padding: 7px 0;
            }

            .experience-details-group {
                padding: 10px 0;
            }
        }
    }

    .skills-and-others {
        flex: 1;

        .skill-item-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px 0;

            .skill {
                flex: 1;
                padding-bottom: 10px;
            }

            .circles-container {
                display: flex;

                .circle {
                    border: 2px solid #2dbcad;
                    background-color: #2dbcad;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    margin: 0 7px;
                }

                .circle:first-child {
                    margin-left: 0;
                }

                .circle:last-child {
                    margin-right: 0;
                }

                .circle.empty {
                    background-color: unset;
                }
            }
        }

        .education-item-group {
            padding: 15px 0;

            .program-name {
                color: $darkerFontColor;
                font-weight: 700;
                font-size: 1.1em;
                padding-bottom: 7px;
            }

            .university-group {
                display: flex;
                align-items: center;

                .university-details {
                    padding-left: 15px;
                }
            }

            .enrollment-period {
                color: $lessDarkerFontColor;
                opacity: $lowLightFont;
                font-size: $smFontSize;
            }
        }
    }

    .section-header {
        color: #2dbcad;
        font-weight: 500;
        font-size: 2em;
    }

    section {
        padding: 1.75em 0;

        &:first-child {
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 412px) {
    .resume-header {
        flex-wrap: wrap-reverse;
        justify-content: center;

        .header-content {

            h1,
            h2 {
                text-align: center;
            }
        }
    }

    .candidate-contact .row {
        flex-direction: column;
        align-items: unset;
    }

    .profile-content {
        flex-direction: column;

        .experience {
            padding-left: 0;
        }
    }
}

@media print {
    .profile-content {
        background-color: #ffffff;
    }
}
