<div class="resume-header">
    <div class="header-content">
        <h1 class="candidate-name">Wei-Jye Wang</h1>
        <h2 class="subtitle">Overall technologist focusing on web front-end</h2>
        <div class="candidate-intro">
            Wei-Jye is an Angular developer and Software Ninjaneer. As a web and mobile hybrid developer focusing
            on front-end, Wei-Jye enjoys solving coding challenges, particularly in UI and UX design. In his free time,
            Wei-Jye loves to explore GitHub looking for opportunities to learn and contribute to open-source projects.
            He believes in free, open-source software. His love for anime and games is just a little less than his love
            for coding.
        </div>
    </div>
    <div class="candidate-img-container">
        <img class="candidate-img"
            src="https://s3.resume.io/uploads/profile_picture/file/3701487/medium_squared_66108a3d69e079af800beb4552b61cb8.jpg?version=9202b6021">
    </div>
</div>
<div class="candidate-contact">
    <div class="row">
        <div class="contact-item-group">
            <i class="icon fa-solid fa-envelope"></i>
            <span>wang.weijye@gmail.com</span>
        </div>
        <div class="contact-item-group">
            <i class="icon fa-solid fa-mobile-screen"></i>
            <span>+6012 696 5947</span>
        </div>
    </div>
    <div class="row">
        <div class="contact-item-group">
            <i class="icon fa-solid fa-location-dot"></i>
            <span>Penang, Malaysia</span>
        </div>
        <div class="contact-item-group">
            <i class="icon fa-brands fa-linkedin"></i>
            <span><a href="https://www.linkedin.com/in/wei-jye-wang" target="_blank">linkedin.com/in/wei-jye-wang</a></span>
        </div>
    </div>
    <div class="row">
        <div class="contact-item-group">
            <i class="icon fa-brands fa-github"></i>
            <span><a href="https://github.com/weijyewang" target="_blank">github.com/weijyewang</a></span>
        </div>
        <div class="contact-item-group">
            <i class="icon fa-brands fa-stack-overflow"></i>
            <span><a href="https://stackoverflow.com/users/2887127/wei-jye">stackoverflow.com/users/2887127/wei-jye</a></span>
        </div>
    </div>
</div>