<div class="resume-header">
    <div class="header-content">
        <h1 class="candidate-name">Wei-Jye Wang</h1>
        <h2 class="subtitle">Overall technologist focusing on front-end</h2>
        <div class="candidate-intro">
            Wei-Jye is an accomplished front-end developer and UI/UX designer with extensive experience in Angular and web development. While his primary focus is on front-end development, he also has some experience in back-end development, including developing microservices and APIs. Wei-Jye is dedicated to delivering high-quality solutions that exceed expectations and is passionate about creating seamless user experiences. In addition to his technical expertise, Wei-Jye is an active contributor to open-source projects and is constantly seeking opportunities to learn and grow as a developer.
        </div>
    </div>
    <div class="candidate-img-container">
        <img class="candidate-img" src="/assets/candidate-img.jpg" alt="avatar image">
    </div>
</div>
<div class="candidate-contact">
    <div class="row">
        <div class="contact-item-group">
            <i class="icon fa-solid fa-envelope"></i>
            <span>wang.weijye@gmail.com</span>
        </div>
        <div class="contact-item-group">
            <i class="icon fa-solid fa-mobile-screen"></i>
            <span>+6012 696 5947</span>
        </div>
    </div>
    <div class="row">
        <div class="contact-item-group">
            <i class="icon fa-solid fa-location-dot"></i>
            <span>Penang, Malaysia</span>
        </div>
        <div class="contact-item-group">
            <i class="icon fa-brands fa-linkedin"></i>
            <span><a href="https://www.linkedin.com/in/wei-jye-wang"
                    target="_blank">linkedin.com/in/wei-jye-wang</a></span>
        </div>
    </div>
    <div class="row">
        <div class="contact-item-group">
            <i class="icon fa-brands fa-github"></i>
            <span><a href="https://github.com/weijyewang" target="_blank">github.com/weijyewang</a></span>
        </div>
        <div class="contact-item-group">
            <i class="icon fa-brands fa-stack-overflow"></i>
            <span><a
                    href="https://stackoverflow.com/users/2887127/wei-jye">stackoverflow.com/users/2887127/wei-jye</a></span>
        </div>
    </div>
</div>

<div class="profile-content">
    <div class="skills-and-others">
        <section title="skills">
            <h1 class="section-header">Skills</h1>

            <div class="skill-item-group">
                <div class="skill">Angular</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">TypeScript</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">JavaScript</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">HTML</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">CSS</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">SASS / SCSS</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Ionic</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Nx</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle "></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Node.js</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Nest.js</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
        </section>
        <section title="education">
            <h1 class="section-header">Education</h1>

            <div class="education-item-group">                
                <div class="program-name">Bachelor of Computer Science</div>
                <div class="university-group">
                    <div class="university-logo-container">
                        <img class="university-logo" src="/assets/uow.png" height="50" width="50" alt="UOW logo">
                    </div>
                    <div class="university-details">
                        <div class="university-name">University of Wollongong</div>
                        <div class="enrollment-period">Feb 2012 - August 2014</div>
                    </div>
                </div>
            </div>

            <div class="education-item-group">                
                <div class="program-name">Diploma in Information Technology</div>
                <div class="university-group">
                    <div class="university-logo-container">
                        <img class="university-logo" src="/assets/inti.png" width="50" alt="Inti logo">
                    </div>
                    <div class="university-details">
                        <div class="university-name">Inti International College Penang</div>
                        <div class="enrollment-period">May 2009 - December 2011</div>
                    </div>
                </div>
            </div>

            <div class="education-item-group">                
                <div class="program-name">High School Diploma in Science Stream</div>
                <div class="university-group">
                    <div class="university-logo-container">
                        <img class="university-logo" src="/assets/clhs.jpg" width="50" alt="Inti logo">
                    </div>
                    <div class="university-details">
                        <div class="university-name">Chung Ling (National Type) High School 槟城钟灵(国民型)中学</div>
                        <div class="enrollment-period">Jan 2004 - December 2008</div>
                    </div>
                </div>
            </div>
        </section>
        <section title="languages">
            <h1 class="section-header">Languages</h1>

            <div class="skill-item-group">
                <div class="skill">English</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Chinese</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Malay</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Cantonese</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="experience">
        <section title="work experience">
            <h1 class="section-header">Work Experience</h1>

            <div class="experience-item-group">
                <div class="company-section">
                    <img src="/assets/nintex.jpg" height="50" width="50" alt="Nintex logo">
                    <div class="company-details">
                        <div class="company-name">Nintex</div>
                        <div class="length-of-service">Present</div>
                        <div class="location">Kuala Lumpur, Malaysia</div>
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Senior Engineer</div>
                    <div class="service-period">Aug 2021 - Present</div>
                    <div class="task-item">
                        <ul>
                            <li>Developing microfrontend Angular-based form applications that integrate with React-based workflow apps using various web technologies.</li>
                            <li>Handling monorepo project using NX.</li>
                            <li>Developing microservices and APIs using Node.js and Nest.js.</li>
                            <li>Participating in architecture design and code review.</li>
                            <li>Collaborating with devops to create new Azure pipelines for CI</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="experience-item-group">
                <div class="company-section">
                    <img src="/assets/oracle.jpg" height="50" width="50" alt="Oracle logo">
                    <div class="company-details">
                        <div class="company-name">Oracle</div>
                        <div class="length-of-service">8 months</div>
                        <div class="location">Kuala Lumpur, Malaysia</div>
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Senior Software Engineer</div>
                    <div class="service-period">Dec 2020 - July 2021 · 8 months</div>
                    <div class="task-item">
                        <ul>
                            <li>Developed Progressive Web Applications using various front-end technologies, such as HTML5, SCSS, JavaScript, TypeScript, and Preact.</li>
                            <li>Conducted code reviews and participated in proof-of-concept development for new applications using the Oracle Redwood Design Framework.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="experience-item-group">
                <div class="company-section">
                    <img src="/assets/vector.png" height="50" width="50" alt="Vector logo">
                    <div class="company-details">
                        <div class="company-name">Vector Solutions Sdn Bhd</div>
                        <div class="length-of-service">2 years 1 months</div>
                        <div class="location">Penang, Malaysia</div>
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Software Engineer</div>
                    <div class="service-period">Jan 2018 - Jan 2020 · 2 years 1 month</div>
                    <div class="task-item">
                       <ul>
                            <li>Led the development of web and mobile hybrid applications using Angular, Ionic, and other open-source packages.</li>
                            <li>Designed and created intuitive graphical user interfaces for both web and mobile apps and produced marketing materials.</li>
                            <li>Presented demos to potential customers, trained and mentored new hires, and managed project schedules.</li>
                       </ul>
                    </div>
                </div>
            </div>

            <div class="experience-item-group">
                <div class="company-section">
                    <img src="/assets/intel.jpg" height="50" width="50" alt="Intel logo">
                    <div class="company-details">
                        <div class="company-name">Intel Corporation</div>
                        <div class="length-of-service">3 years 5 months</div>
                        <div class="location">Penang, Malaysia</div>
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Software Engineer</div>
                    <div class="service-period">May 2015 - Jan 2018 · 2 years 9 month</div>
                    <div class="task-item">
                        <ul>
                            <li>Developed web applications using various technologies such as HTML5, CSS, JavaScript, Angular, Angular.js, Node.js, and Grunt.</li>
                            <li>Participated in developing web infrastructure and frameworks using Angular.js, Node.js, Gulp.js, and other open-source libraries.</li>
                            <li>Mentored graduate trainees and interns on technical works.</li>
                        </ul>
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Graduate Trainee</div>
                    <div class="service-period">Sep 2014 - May 2015 · 9 months</div>
                    <div class="task-item">
                        <ul>
                            <li>Developed a generator for scaffolding Angular-based web projects and created RESTful APIs using Node.js and express.js.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>