<div class="resume-header">
    <div class="header-content">
        <h1 class="candidate-name">Wei-Jye Wang</h1>
        <h2 class="subtitle">Overall technologist focusing on front-end</h2>
        <div class="candidate-intro">
            Wei-Jye is an Angular developer and Software Ninjaneer. As a web and mobile hybrid developer focusing
            on front-end, Wei-Jye enjoys solving coding challenges, particularly in UI and UX design. In his free time,
            Wei-Jye loves to explore GitHub looking for opportunities to learn and contribute to open-source projects.
            He believes in free, open-source software. His love for anime and games is just a little less than his love
            for coding.
        </div>
    </div>
    <div class="candidate-img-container">
        <img class="candidate-img" src="/assets/candidate-img.jpg" alt="avatar image">
    </div>
</div>
<div class="candidate-contact">
    <div class="row">
        <div class="contact-item-group">
            <i class="icon fa-solid fa-envelope"></i>
            <span>wang.weijye@gmail.com</span>
        </div>
        <div class="contact-item-group">
            <i class="icon fa-solid fa-mobile-screen"></i>
            <span>+6012 696 5947</span>
        </div>
    </div>
    <div class="row">
        <div class="contact-item-group">
            <i class="icon fa-solid fa-location-dot"></i>
            <span>Penang, Malaysia</span>
        </div>
        <div class="contact-item-group">
            <i class="icon fa-brands fa-linkedin"></i>
            <span><a href="https://www.linkedin.com/in/wei-jye-wang"
                    target="_blank">linkedin.com/in/wei-jye-wang</a></span>
        </div>
    </div>
    <div class="row">
        <div class="contact-item-group">
            <i class="icon fa-brands fa-github"></i>
            <span><a href="https://github.com/weijyewang" target="_blank">github.com/weijyewang</a></span>
        </div>
        <div class="contact-item-group">
            <i class="icon fa-brands fa-stack-overflow"></i>
            <span><a
                    href="https://stackoverflow.com/users/2887127/wei-jye">stackoverflow.com/users/2887127/wei-jye</a></span>
        </div>
    </div>
</div>

<div class="profile-content">
    <div class="skills-and-others">
        <section title="skills">
            <h1 class="section-header">Skills</h1>

            <div class="skill-item-group">
                <div class="skill">Angular</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">TypeScript</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">JavaScript</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">HTML</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">CSS</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">SASS / SCSS</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Ionic</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Nx</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle "></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Node.js</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Nest.js</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
        </section>
        <section title="education">
            <h1 class="section-header">Education</h1>

            <div class="education-item-group">                
                <div class="program-name">Bachelor of Computer Science</div>
                <div class="university-group">
                    <div class="university-logo-container">
                        <img class="university-logo" src="/assets/uow.png" height="50" width="50" alt="UOW logo">
                    </div>
                    <div class="university-details">
                        <div class="university-name">University of Wollongong</div>
                        <div class="enrollment-period">Feb 2012 - August 2014</div>
                    </div>
                </div>
            </div>

            <div class="education-item-group">                
                <div class="program-name">Diploma in Information Technology</div>
                <div class="university-group">
                    <div class="university-logo-container">
                        <img class="university-logo" src="/assets/inti.png" width="50" alt="Inti logo">
                    </div>
                    <div class="university-details">
                        <div class="university-name">Inti International College Penang</div>
                        <div class="enrollment-period">May 2009 - December 2011</div>
                    </div>
                </div>
            </div>
        </section>
        <section title="languages">
            <h1 class="section-header">Languages</h1>

            <div class="skill-item-group">
                <div class="skill">English</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Chinese</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Malay</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
            <div class="skill-item-group">
                <div class="skill">Cantonese</div>
                <div class="circles-container">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                    <div class="circle empty"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="experience">
        <section title="work experience">
            <h1 class="section-header">Work Experience</h1>

            <div class="experience-item-group">
                <div class="company-section">
                    <img src="/assets/nintex.jpg" height="50" width="50" alt="Nintex logo">
                    <div class="company-details">
                        <div class="company-name">Nintex</div>
                        <div class="length-of-service">Present</div>
                        <div class="location">Kuala Lumpur, Malaysia</div>
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Senior Engineer</div>
                    <div class="service-period">Aug 2021 - Present</div>
                    <div class="task-item">
                        Developing form app (Angular) that lives within workflow app (React). Technologies used in web
                        development including native HTML5 and CSS, TypeScript, Angular, a little bit of React and other
                        open-source packages.
                    </div>
                </div>
            </div>

            <div class="experience-item-group">
                <div class="company-section">
                    <img src="/assets/oracle.jpg" height="50" width="50" alt="Oracle logo">
                    <div class="company-details">
                        <div class="company-name">Oracle</div>
                        <div class="length-of-service">8 months</div>
                        <div class="location">Kuala Lumpur, Malaysia</div>
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Senior Software Engineer</div>
                    <div class="service-period">Dec 2020 - July 2021 · 8 months</div>
                    <div class="task-item">
                        Developing Progressive Web Apps (front-end) for Cruise Ship Management and Cruise Software.
                        Skills involved including native HTML5, SCSS, JavaScript, TypeScript, Preact, Oracle jet
                        framework and other open-source packages.
                    </div>
                    <div class="task-item">
                        Doing code review for the front-end projects. Working with Technical Architect to
                        drives Proof of Concept for new features and apps based on the new Oracle Redwood Design
                        Framework.
                    </div>
                </div>
            </div>

            <div class="experience-item-group">
                <div class="company-section">
                    <img src="/assets/vector.png" height="50" width="50" alt="Vector logo">
                    <div class="company-details">
                        <div class="company-name">Vector Solutions Sdn Bhd</div>
                        <div class="length-of-service">2 years 1 months</div>
                        <div class="location">Penang, Malaysia</div>
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Software Engineer</div>
                    <div class="service-period">Jan 2018 - Jan 2020 · 2 years 1 month</div>
                    <div class="task-item">
                        Leading the development for web apps (front-end) and mobile
                        hybrid apps (Android and iOS) in cargo security and tracking
                        system. Skills involved including native HTML5, SCSS,
                        JavaScript, TypeScript, Angular, Ionic framework and other open-
                        source packages.
                    </div>

                    <div class="task-item">
                        Planning, architect and design projects from scratch, including
                        project planning for new features, bug fixes and releasing a new
                        version.
                    </div>
                    <div class="task-item">
                        Design and create Graphical User Interface for web apps and
                        mobile apps. Design marketing materials such as brochure and
                        flyers.
                    </div>
                    <div class="task-item">
                        Creating presentation materials for business meetings with client
                        and planning for project schedules. Presenting features and
                        applications demo to potential customers
                    </div>
                    <div class="task-item">
                        Training and mentoring new hires on technical works.
                    </div>
                </div>
            </div>

            <div class="experience-item-group">
                <div class="company-section">
                    <img src="/assets/intel.jpg" height="50" width="50" alt="Intel logo">
                    <div class="company-details">
                        <div class="company-name">Intel Corporation</div>
                        <div class="length-of-service">3 years 5 months</div>
                        <div class="location">Penang, Malaysia</div>
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Software Engineer</div>
                    <div class="service-period">May 2015 - Jan 2018 · 2 years 9 month</div>
                    <div class="task-item">
                        Developing multiple web apps (front-end) in a large enterprise
                        cloud system. Technologies used in web development including
                        native HTML5 and CSS, JavaScript, Angular, Angular.js, Node.js,
                        Grunt and other open-source packages
                    </div>
                    <div class="task-item">
                        Developing web infrastructure and framework using Angular.js,
                        Node.js, Gulp.js and other open-source libraries/packages.
                        Involved in both front-end and back-end development.
                    </div>
                    <div class="task-item">
                        Mentoring graduate trainees and interns that join the team.
                        Mainly providing guidance on the technical works.
                    </div>
                </div>
                <div class="experience-details-group">
                    <div class="job-title">Graduate Trainee</div>
                    <div class="service-period">Sep 2014 - May 2015 · 9 months</div>
                    <div class="task-item">
                        Developing a generator that is able to scaffold Angular based web projects. Day
                        to day deliverable also includes components/libraries (such as Gantt Chart, Wafer Map, Heat Map
                        etc.)
                        development and support that are specifically created for fellow
                        Intel web developer (Software Engineers) to consume in the web
                        apps that they are developing.
                    </div>

                    <div class="task-item">
                        Creates RESTful API using Node.js and express.js with mini backend infrastructure.
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>